<nav class="navbar navbar-expand-lg bg-secondary">
  <div class="container-fluid">
    <img src="../assets/octopus-deploy.svg" alt="hotel" id="oct-img">
    <a class="navbar-brand" href="#" style="opacity: 1">HOTEL OCTOPUS</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Prices</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact us!</a>
        </li>
      </ul>
      <button class="btn btn-info" [hidden]="isLoggedIn"><a  (click)="login()">Login</a></button>
      <button class="btn btn-info" [hidden]="!isLoggedIn"><a  (click)="logout()">Logout</a></button>
      <button class="btn btn-info" [hidden]="isLoggedIn"><a  href="#">Register</a></button>
    </div>
  </div>
</nav>
<br>
<router-outlet></router-outlet>
