h1{
  text-align: center;
  font-size: 3em;
  font-family: 'Muli', serif;
}

a{
  font-size: 1.5em;
  font-family: 'Muli', serif;
  color: black;
  text-decoration: none;
}

#oct-img{
  width: 3.5em;
  margin-right: 10px;
}

.formInfo{
  margin: 1em;
}

label{
  margin-right: 20px;
  font-family: 'Muli', serif;
  min-width: 90px;
}

input{
  padding: 0.8em;
  min-width: 210px;
}


