<h1 id="welcome" >Look around in our hotel!</h1>
<div class="cont">
  <ul class="slider">
    <li>
      <input type="radio" id="slide1" name="slide" checked>
      <label for="slide1"></label>
      <img src="../../assets/gimg1.jpg" alt="pic1">
    </li>
    <li>
      <input type="radio" id="slide2" name="slide">
      <label for="slide2"></label>
      <img src="../../assets/gimg2.jpg" alt="pic2">
    </li>
    <li>
      <input type="radio" id="slide3" name="slide">
      <label for="slide3"></label>
      <img src="../../assets/gimg3.png" alt="pic3">
    </li>
    <li>
      <input type="radio" id="slide4" name="slide">
      <label for="slide4"></label>
      <img src="../../assets/gimg4.jpg" alt="pic4">
    </li>
  </ul>
</div>


